
<form (ngSubmit)="addClient()" [formGroup]="addClientForm">	
<div> <label for="nom">Nom</label> <input type="text" name="nom" id="nom" [formControl]="nom" required>
 </div>
 <div> <label for="prenom">Prenom</label> <input type="text" name="prenom" id="prenom" [formControl]="prenom" required> 
</div>	
 <div> <label for="adresseline">Adresse</label> <input type="text" name="adresseline" id="adresseline" [formControl]="adresseline" required> 
</div>
 <div> <label for="codepostal">Code Postal</label> <input type="text" name="codepostal" id="codepostal" [formControl]="codepostal" required> 
</div>
 <div> <label for="ville">Ville</label> <input type="text" name="ville" id="ville" [formControl]="ville" required> 
</div>
<div> <label for="telephone">Telephone</label> <input type="text" name="telephone" id="telephone" [formControl]="telephone" required> 
</div>
 <div> <label for="soldeCC">Montant dépôt Compte Courant</label> <input type="text" name="soldeCC" id="soldeCC" [formControl]="soldeCC" required> 
</div>
 <div> <label for="soldeEp">Montant dépôt Compte Epargne</label> <input type="text" name="soldeEp" id="soldeEp" [formControl]="soldeEp" required> 
</div>
<button type="submit">Valider</button> 
</form>
 
 
 