<p>
  virement works!
</p>

<div class="search">
<form [formGroup]="myForm" (ngSubmit) ="onSubmit(myForm.value)"
[class.error]="!myForm.valid && myForm.touched">
<div [class.error]="!nom.valid && nom.touched">
<label for="nomInput"></label>
<input type="text" id="nomInput" placeholder="nom a chercher" [formControl]="nom">
<div *ngIf="!nom.valid"> Nom saisi est invalide</div>
<div *ngIf="nom.hasError('required')">Nom est obligatoire</div>
<button (click)="getAllClientByName(nom)">Ok</button>
</div> 


<div *ngIf="!myForm.valid">Form is invalid</div>

<button type="submit">Submit</button>
</form>
</div>




 <form (ngSubmit)="addOperation()" [formGroup]="virementForm">	
<div> <label for="numDepart">Numero compte depart </label> <input type="text" name="numDepart" id="numDepart" [formControl]="numDepart" required>
 </div>
 <div> <label for="numCible">Numero compte cible</label> <input type="text" name="numCible" id="numCible" [formControl]="numCible" required> 
</div>
<!-- <div> <label for="dateOperation">Date Operation</label> <input type="text" name="dateOper" id="dateOper" [formControl]="dateOper" required>  -->
<!-- </div> -->
<div> <label for="montant">Montant</label> <input type="text" name="montant" id="montant" [formControl]="montant" required> 
</div>
<button type="submit">Valider</button> 
</form>
 
 
 <div class="tab">
	<ul>
		<li *ngFor="let operation of operations">
 
 <p>Nom : {{operation.nomClient}}</p>
			<p>Prenom : {{operation.prenomClient}}</p>
			<p>Type de l'operation: {{operation.typeOper}}</p>
			</li>
	</ul>
</div>